/*@font-face {
  font-family: chalk;
  src : url(chalkduster.woff)
  
}
*/
body {
  background-image: linear-gradient( black, rgb(0, 44, 139));
  padding: 500px;
}
  h1 {
    color: rgb(255, 255, 255);
 
    position: absolute;
    top: 150px;
    left: 110px;
    font-size: 60px;
    font-family: 'Righteous', cursive;
   
   -webkit-animation-duration: 2s;
    animation-duration: 2s;
   -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  
  }
  p {
    font-size:24px;
    text-align:left;
    position: absolute;
    top: 270px;
    left: 110px;
    color: rgb(139, 139, 139);
    font-family: 'Russo One', sans-serif;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
   -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-fill-mode: backwards;
    animation-delay: 1s;

  }

  .links{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
   -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    position: absolute;
    top: 330px;
    left: 700px;

  }

  .l1, .l2, .l3{
    padding : 20px;
  }
  @keyframes bounceIn {
    0% {
      transform: translate(0%, 100%);
      opacity: 0;
    }
    100% {
      transform: scale(1);
    }
  }
