@font-face {
  font-family: chalk;
  src : url(chalkduster.woff)
}
body {
    background-color: rgb(34, 32, 32);
  }
  h1 {
      
    color: rgb(255, 255, 255);
  }
  p {
    color: red;
  }
  .header {
    padding: 60px;
    text-align: center;
    background: rgb(0,0,0);
    color: white;
    font-size: 30px;
    font-family: chalk;
  }