/*@font-face {
  font-family: chalk;
  src : url(chalkduster.woff)
  
}
*/
body {
  background-image: linear-gradient( black, rgb(0, 44, 139));
  padding: 800px;
}
  h1 {
    color: rgb(255, 255, 255);
 
    position: absolute;
    top: 150px;
    left: 110px;
    font-size: 60px;
    font-family: 'Righteous', cursive;
  }
  p {
    font-size:30px;
    text-align:center;
    position: absolute;
    top: 250px;
    left: 200px;
    color: red;
    font-family: 'Russo One', sans-serif;
  }
  